@import "../shared/styles/variables";

.card-style {
    border-radius: 12px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;

    &:hover {
        transform: scale(1.05) !important;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
        background-color: $primary-blue;

        .euiCard__title, .euiCard__description {
            color: white !important;
            text-decoration: none !important;
        }
    }
  
    .euiCard__title, .euiCard__description {
      transition: color 0.3s ease;
    }

    .euiCard__titleButton {
        text-decoration: none !important;
        transition: color 0.3s ease;
    }
}

.euiFlyoutHeader h2 {
    font-size: 24px;
    font-weight: bold;
    color: $page-heading-color ;
    margin: 0;
}